<!doctype html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/public/app.css"/>

</head>
<body>
<%- include('partials/navbar') %>
<div>
    <h1 class="welcome">
        Welcome to the Community Forum!
    </h1>
</div>
<div class="error-message">
    <% if (typeof posts.error !== 'undefined') { %>
        <p>
            Error: <%= posts.error %>
        </p>
    <% } %>
</div>
<div class = "board-list">
    <% if (typeof boards.error == 'undefined') { %>
        <% boards.forEach(function(board) { %>
            <%-include('partials/boardCard', board) %>
    <% }); } %>
<div class="post-list">
    <% if (typeof posts.error == 'undefined') { %>
        <% posts.forEach(function(post) { %>
            <%- include('partials/postCard', post) %>
    <% }); } %>
</div>
</body>
</html>