<!doctype html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/public/app.css"/>

</head>
<body>
<%- include('partials/navbar') %>
<div>
    <h1 class="welcome">
        Welcome to the Community Forum!
    </h1>
</div>
<div class="post-list">
    <% posts.forEach(function(post) { %>
        <%- include('partials/postCard', post) %>
    <% }); %>
</div>
</body>
</html>