<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/public/app.css"/>
    <link rel="stylesheet" href="/public/auth.css"/>
</head>
<body>
<%- include('partials/navbar') %>

<div class="auth">
    <form action="/login" method="post">
        <h2>Login to Account</h2>
        <div>
            <label>
                Username:
                <input class="input-field" type="text" name="username" required/>
            </label>
        </div>
        <div>
            <label>
                Password:
                <input class="input-field" type="password" name="password" required/>
            </label>
        </div>
        <div class="error-message">
            <% if (typeof error !== 'undefined') { %>
                <p>
                    Error: <%= error %>
                </p>
            <% } %>
        </div>
        <div class="success-message">
            <% if (typeof success !== 'undefined') { %>
                <p>
                    <%= success %>
                </p>
            <% } %>
        </div>

        <div>
            <input class="input-button" type="submit" value="Login"/>
        </div>
    </form>
</div>
</body>
</html>