<div class="post-card">
    <div class="post-card-info">
        <span class="post-card-author">Posted by <%= username %></span>
    </div>
    <div class="post-card-content">
        <p><%= content %></p>
    </div>
</div>
