<div class="post-card">
    <div class="post-card-info">
        <span class="post-card-author">Posted by <%= authorID %></span>
        <span class="post-card-date">at <%= new Date(timestamp).toLocaleString() %></span>
    </div>
    <div class="post-card-content">
        <p><%= content %></p>
    </div>
</div>
