<div class="navbar">
    <a href="/">Community Forum</a>
    <div class="navbarRight">
<!--        Check if loggedIn is defined -->
        <% if (typeof loggedIn !== 'undefined' && loggedIn) { %>
            <a><%= username %></a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        <% } %>
    </div>
</div>