body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Spacing for navbar */
    padding-top: 50px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-message {
    color: red;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #F8F8F8;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.boardButtonCard {
    overflow: hidden;
    position: fixed;
    background-color: #F8F8F8;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75); 
    width: 15%; 
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;  
}

.btn-group-vertical {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    padding: 5px 0; 

}

.btn {
    margin: 5px 0; 
    width: 80%; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    padding: 10px 15px; 
    display: inline-block; 
    text-align: center; 
    transition: background-color 0.3s, transform 0.3s; 
}

.btn:hover {
    background-color: #ddd; 
    transform: scale(1.05); 
}



/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbarRight {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.welcome {
    text-align: center;
    color: dodgerblue;
}

.board-title {
    text-align: center;
    color: #061746;
}

.board-description {
    text-align: center;
    color: #061746;
}
.post-card {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px auto;
    box-sizing: border-box;
}

.post-card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.post-card-info {
    font-size: 0.8em;
    color: #999;
    margin: 0;
    float: right;
    clear: both;
}

.post-card-board {
    font-size: 0.8em;
    color: cornflowerblue;
    float: right;
}

.add-post-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 20px;  /* Add this line to move the button to the right */
    background-color: #007BFF;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-post-button:hover {
    background-color: #0056b3;
}